<ion-header>
  <!--<ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (tap)="openMenu()">
        tokyo<ion-icon name="arrow-down"></ion-icon>
      </button>
        </ion-buttons>
        <ion-searchbar></ion-searchbar>
        <ion-buttons end>
            <button ion-button>
        <ion-icon name="alert"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>-->
  <ion-navbar>
    <ion-title>
      课程
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="product">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides class="ion-slides-class">
    <ion-slide>
      <ion-grid>
        <ion-row class="menuClass1" *ngFor="let row of grid">
          <ion-col width-20 class="ion-col-class" *ngFor="let menuItem of row">
            <button class="roundButton" primary (tap)="openProductListsPage(menuItem)" [ngStyle]="{'backgroundColor': menuItem.color}">
                  <ion-icon class="ion-icon-class" [name]="menuItem.icon"></ion-icon>
                </button>
            <div style="font-size:4vw;">
              {{menuItem.name}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>


  <ion-list [virtualScroll]="products" [approxItemHeight]="'260px'" no-lines no-paddings>
    <div *virtualItem="let product">
      <!-- <ion-slides [options]="mySlideOptions"> -->
      <div style="position: relative;">
        <a (tap)="openProductDetailsPage(product)">
          <ion-img class="bigImage" [src]="product.imageURL"></ion-img>
        </a>
        <a class="fab-favorite" (tap)="likeProduct(product)">
          <ion-icon name='heart-outline' [hidden]='alreadyLiked(product)'></ion-icon>
          <ion-icon name='heart' [hidden]='!alreadyLiked(product)' style="color:pink"></ion-icon>
        </a>

        <div class="fab-time">
          <ion-icon name='time-outline'></ion-icon>
          <span class="fab-time-text">{{product.time}}分</span>
        </div>

        <a class="fab-guider" (tap)="openGuiderDetailsPage(product)">
          <ion-avatar>
            <ion-img class="roundGuiderButton" [src]="product.guiderImageURL"></ion-img>
          </ion-avatar>
        </a>

        <div class="cardIntroduction">
          <span item-left>{{product.productName}}</span>
          <span>{{product.guiderName}}</span>
          <span>{{product.pricing}}</span>
        </div>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--<ion-item>

      <ion-thumbnail item-left (tap)="openProductDetailsPage(product)">
        <img [src]="product.imageURL">
      </ion-thumbnail>

      <h2 (tap)="openProductDetailsPage(product)">
        {{product.productName}} {{product.guiderName}}
      </h2>
      <p (tap)="openProductDetailsPage(product)">{{product.introduction}}</p>
      <button ion-button clear item-right>
                <a class="fab-favorite" (tap)="likeProduct(product)">
                  <ion-icon name='heart-outline' [hidden]='alreadyLiked(product)'></ion-icon>
                  <ion-icon name='heart' color='positive' [hidden]='!alreadyLiked(product)' style="color:pink" ></ion-icon>
    </a>
      </button>
    </ion-item>-->

  </ion-list>
</ion-content>
