page-product{

  .product {

    .menuClass1{
      margin-bottom: 3vw;
    }

    .ion-slides-class{
      margin : 0;
      height: 50vw;
    }
    .swiper-pagination {
      bottom: 1px;
    }

    .ion-col-class{
      margin: 0;
      padding: 0;
      text-align: center;

    }
    .roundButton{
      width: 11vw;
      height:11vw;
      border-radius: 11vw;
      border:0;
      overflow:hidden;
      color:white;
      padding: 0;
      margin: 1vw 4.5vw;
    }

    .roundButton:hover{
      width: 13vw;
      height:13vw;
      border-radius: 13vw;
      margin:0 3.5vw;
      box-shadow: 0 0 2vw gray;
    }

    .ion-icon-class{
      display: inline-block;
      padding: 0;
      vertical-align: middle;
      font-size: 8vw;
    }

    .flexWrap{
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    ion-card.adv-map {
      width: 100%;
      margin: 0;
    }

    ion-avatar img {
      max-width: 3.2em;
      max-height: 3.2em;
      border-radius: 1.6em;
    }

    .bigImage {
      height: 56.25vw;
      width: 100vw;
    }

    .fab-shop {
      position: relative;
      top: -1.5em;
      right: 0.8em;
      z-index: 50;
      float: right;
      overflow:visible;
      background-color: transparent;
    }

    .fab-favorite {
      position: absolute;
      background-color: transparent;
      top:0.3em;
      right:0.6em;
      font-size: 2.8rem;
      color: white;
      z-index: 50;
    }

    .feature{
      position: absolute;
      bottom: 0.8em;
      height: 2.0em;
      width: 100vw;
      background-color: green;
      opacity: 0.5;
      z-index: 25;
    }

    .fab-time {
      position: absolute;
      background-color: green;
      opacity: 0.7;
      bottom: 0.8em;
      font-size: 1.6rem;
      padding: 0.1em 0.5em;
      text-align: center;
      color: white;
      z-index: 50;
    }

    .fab-time-text {
      opacity: 1;
      color: white;
      z-index: 50;
    }

    ion-list{
      margin: 0;
    }

    .cardIntroduction{
      top:-2.0em;
      font-size:1.3em;
      margin-bottom:-1.6em;
    }
  }
}
