.reservationDetails {
    background-color: white;
    z-index: 1;
    .button-icon-only ion-icon {
        font-size: 2.2em;
    }
    ion-avatar img {
        max-width: 3.2em;
        max-height: 3.2em;
        border-radius: 1.6em;
    }
    ion-card.adv-map {
        width: 100%;
        margin: 0;
    }
    .videoWrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        padding-top: 0%;
        height: 0;
    }
    .youtubeVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .fab-guider {
        position: absolute;
        bottom: -3.8em;
        right: 1.0em;
        z-index: 50;
        float: right;
        overflow: hidden;
        background-color: transparent;
    }
    .fab-favorite {
        position: absolute;
        background-color: transparent;
        top: 0.3em;
        right: 0.6em;
        font-size: 2.8rem;
        color: white;
        z-index: 50;
    }
    .ion-list-class {
        margin: 0;
    }
    .highLightsCard {
        width: 100%;
        margin: 0;
    }
    .spaceLine {
        height: 5vw;
        background-color: #fff3f3;
        width: 100vw;
    }
    .reservationCost {
        padding-left: 2em;
    }
    .totalPrice {
        padding-bottom: 1 em;
    }

    ion-avatar img{
        border-radius: 0;
    }
    .weekview-allday-table{
      display:none
    }
    .weekview-normal-event-container{
      margin-top:37px
    }

}
